<div class="container">
    <h1>THÊM LOẠI</h1>
    <form method="POST" action="/admin/clothestypelist/store">
        <div class="form-group">
            <label for="nametype">Tên loại: </label>
            <input type="text" class="form-control" id="nametype" name="nametype" />
        </div>
        <button type="submit" class="btn btn-primary">Thêm loại</button>
    </form>
</div>
