<div>
  {{!--side menu manager--}}
  <div class="main-sidebar">
      {{>admin/menufunction}}
  </div>

  {{!--side content--}}
  <div class="content-wrapper">
    <div class="content">
      
    </div>
  </div>
</div>