<script src="../js/cart.js"></script>

<div class="container">
    {{>search}}
    <div class="bg-white">
        {{>tool_endow}}
        <div class="cart-content">
            <center>
                <h1>GIỎ HÀNG CỦA BẠN</h1>
            </center>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-9">
                    <div id="gio-hang">

                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-3">
                    {{>cart_total}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    showListItemCart();

    function tang(id) {
        var ListItemCart = getListItemCart();
        for (var i = 0; i < ListItemCart.length; i++) {
            var itemCart = ListItemCart[i];
            if (itemCart.id == id) {
                itemCart.amount++;
            }
        }
        saveListItemCartInLocal(ListItemCart);
        location.reload();
    }

    function giam(id) {
        var ListItemCart = getListItemCart();

        for (var i = 0; i < ListItemCart.length; i++) {
            var itemCart = ListItemCart[i];
            if (itemCart.id == id) {
                itemCart.amount--;
            }
        }
        saveListItemCartInLocal(ListItemCart);
        location.reload();
    }

    function showListItemCart() {
        var listItemCart = getListItemCart();
        var HTML = listItemCartToHTML(listItemCart);
        var nodeCart = document.getElementById('gio-hang');
        nodeCart.innerHTML = HTML;
    }

    // chuyển một danh sách thành html
    function listItemCartToHTML(listItemCart) {
        var allHTML = '';
        for (var i = 0; i < listItemCart.length; i++) {
            allHTML = allHTML + itemCartToHTML(listItemCart[i]);
        }
        return allHTML;
    }

    // chuyển một đối tượng thành html
    function itemCartToHTML(itemCart) {
        var price = itemCart.amount * itemCart.price;
        var truoc = '\'';
        var id = truoc + itemCart.id + truoc;
        var html = '<div class="cart-item">\n' +
            '    <div class="row">\n' +
            '        <div class="col-8">' + itemCart.name + '</div>\n' +
            '        <div class="col-4">\n' +
            '            <div class="float-right">\n' +
            '                <a href=""><i class="far fa-times-circle"></i></a>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '    <div class="row">\n' +
            '        <div class="col-2"><img class="cart-item-img" src="' + itemCart.image + '" alt=""></div>\n' +
            '        <div class="col-10">' + itemCart.description + '</div>\n' +
            '    </div>\n' +
            '    <hr>\n' +
            '    <div class="row">\n' +
            '        <div class="col-6"><a class="giam" onclick="giam('+ id +')"><img class="giam" src="../img/icon/giam.png" alt="giam"></a><span class="sl">' + itemCart.amount + '</span><a onclick="tang('+id+')"><img class="tang" src="../img/icon/tang.png" alt="tang"></a></div>\n' +
            '        <div class="col-6"><div class="float-right">' + price + '</div></div>\n' +
            '    </div>\n' +
            '</div>';
        return html;
    }
</script>
