<div class="cart-total">
  <div class="row">
    <div class="col-6">TỔNG TIỀN HÀNG: </div>
    <div class="col-6">50.000</div>
  </div>
  <div class="row">
    <div class="col-6">KHUYẾN MÃI: </div>
    <div class="col-6">50.000</div>
  </div>
  <div class="row">
    <div class="col-6">PHÍ GIAO HÀNG: </div>
    <div class="col-6">50.000</div>
  </div>
  <div class="row">
    <div class="col-6">TỔNG CỘNG: </div>
    <div class="col-6">50.000</div>
  </div>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-outline-dark">QUAY LẠI TRANG CHỦ</button>
    </div>
    <div class="col-6">
      <button class="btn btn-danger">THANH TOÁN</button>
    </div>
  </div>
</div>