<div id="wp-slider">
  <div class="items-slide">
    <div class="owl-carousel owl-theme">
      {{#each display_endow}}
        <div class="item">
          <img src="/upload/{{this.image}}" alt="{{this.alt}}" />
        </div>
      {{/each}}
    </div>
  </div>
</div>