<nav class="navbar navbar-expand-lg navbar-light page">
  <div class="container">
    <div class="logo"><a class="navbar-brand" href="/"><img
          src="../img/logo.png"
          alt="logo-eight"
        /></a></div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
    <div class="float-right">
      <a href="/login">
        <button class="btn btn-danger">Đăng nhập</button>
      </a>
    </div>
  </div>
</nav>