<section class="sidebar">
  <div class="setup-shipper">
    <div class="setup-shipper-title">
      <p class="setup-shipper-title-large">MENU QUẦN ÁO</p>
    </div>
    <div class="setup-shipper-content clearfix">
      <div class="col-md-12 item-policy">
        <div class="child">
          <a href="#">
            <h4>ÁO SƠ MI NAM/NỮ</h4>
          </a>
        </div>
      </div>
      <div class="col-md-12 item-policy">
        <div class="child">
          <a href="#">
            <h4>THỜI TRANG NỮ</h4>
          </a>
        </div>
      </div>
      <div class="col-md-12 item-policy">
        <div class="child">
          <a href="#">
            <h4>THỜI TRANG NAM </h4>
          </a>
        </div>
      </div>
      <div class="col-md-12 item-policy">
        <div class="child">
          <a href="#">
            <h4>ÁO</h4>
          </a>
        </div>
      </div>
      <div class="col-md-12 item-policy">
        <div class="child">
          <a href="#">
            <h4>QUẦN</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>