<form role="search" class="shopee-searchbar-input" autocomplete="off">

    <input
    aria-label="Săn voucher 99K ShopeeFood"
    class="shopee-searchbar-input__input"
    maxlength="128"
    placeholder="Tìm kiếm"
    autocomplete="off"
    value=""/>

</form>