<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="header">QUẢN LÝ CỬA HÀNG</li>
        <li>
            <a class="menu-function-admin" href="/admin/clothestypelist">
                <i class="fa fa-leaf"> </i> Loại sản phẩm
            </a>
        </li>
        <li>
            <a class="menu-function-admin" href="/admin/clotheslist">
                <i class="fa fa-leaf"> </i> Sản phẩm
            </a>
        </li>
        <li>
            <a class="menu-function-admin" href="/admin/adv">
                <i class="fa fa-leaf"> </i> Quảng cáo
        </li>
        <li>
            <a class="menu-function-admin" href="/admin/news">
                <i class="fa fa-leaf"> </i> News
            </a>
        </li>
    </ul>
</section>